<div class="control-group dashlet-options">
    <div class="controls">
        <div class="row-fluid">
            <div class="span6">
                {{#each dashletConfig.filter}}
                    {{field ../this model=../settings template="edit"}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div id="map_wrapper" style="height: 400px;">
    <div id="map_canvas" class="mapping" style="width: 100%; height: 100%;"></div>
</div>
