{{#each attachmentCollection.models}}
    <a class="ellipsis_inline" data-placement="bottom" title="{{this.attributes.name}}" href="{{this.URL.url}}" data-url="www.google.com" data-action="custom" target="_blank">{{this.attributes.name}}</a>
{{/each}}
