<div class="dashboard">
    <div class="cols row-fluid">
        <ul class="dashlets row-fluid">
            <li class="span-12">
                <ul class="dashlet-row">
                    <li class="row-fluid">
                        <div class="rows well well-invisible">
                            <ul class="dashlet-cell rows row-fluid">
                                <li class="dashlet-container span12">
                                    <div class="thumbnail dashlet" data-type="dashlet">
                                        <div data-dashlet="toolbar">
                                            <div class="dashlet-header">
                                                <h4 data-toggle="dashlet" class="dashlet-title">
                                                    {{str 'LBL_LAB_TESTS_DASHLET_VIEW' }}
                                                </h4>
                                            </div>
                                        </div>
                                        <div data-dashlet="dashlet" class="dashlet-content">
                                            <div>
                                                {{#each tests}}
                                                    <div style="display: inline-block;border: 1px solid #000; padding: 5px; background: #0679c8; color: #fff; margin-bottom: 5px;">
                                                        {{this}}
                                                    </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>