{{#each value}}
<div>
    <span class="span6">
        {{#eq @index 0}}
            <div class="record-label" style="margin-left: 0px;">
                {{str 'LBL_TRANSPORTER' 'HT_Manifest'}}
            </div>
        {{/eq}}
        <span class="normal index">
            <span class="detail" style="padding-left: 0px;">
                {{name}}
            </span>
        </span>
    </span>
    <span class="span6">
        {{#eq @index 0}}
            <div class="record-label">
                {{str 'LBL_TRANSFER_DATE' 'HT_Manifest'}}
            </div>
        {{/eq}}
        <span class="normal index">
            <span class="detail">
                {{#if transfer_date}}{{formatDate transfer_date ../../dateOptions}}{{/if}}
            </span>
        </span>
    </span>
</div>
{{/each}}
