ul.custom-dashlet-tabs > li {
    float: none;
    margin: 0 0.25%;
    display: inline-block;
    width: auto;
}
.branch-upto-tab {    
    padding-left: 35px !important;
}
.rli-pill-bcc {
    background-color: #D3D3D3 !important;
} 
.rli-td-bcc {
    background-color: #9acef1 !important;
}
.rli-td-bcc-1 {
    /*background-color: #DCDCDC !important;*/
    background-color: #ebedef !important;
}
.rli-td-bcc-2 {
    background-color: #D3D3D3 !important;
} 
.rli-td-bcc-3 {
    background-color: #A9A9A9 !important;
} 
.rli-td-bcc-4 {
    background-color: #696969 !important;
} 
.rli-td-bcc-5 {
    background-color: #176de5 !important;
} 
.rli-td-bcc-6 {
    background-color: #0f7799 !important;
} 
.rli-td-bcc-7 {
    background-color: #0d806c !important;

    /*background-color: #0d8046 !important;*/
    /*background-color: #33800d !important;*/
    /*background-color: #6a800d !important;*/
    /*background-color: #e5a117 !important;*/
    /*background-color: #cc3314 !important;*/
    /*background-color: #e61718 !important;*/
    /*background-color: #e5176d !important;*/
    /*background-color: #6d17e5 !important;*/
    /*background-color: #1f12b3 !important;*/
    /*background-color: #176de5 !important;*/
    /*background-color: #1378bf !important;*/
    /*background-color: #0f7799 !important;*/
    /*background-color: #0d806c !important;*/
    /*background-color: #ff6fcf !important;*/
    /*background-color: ##7cc2f1 !important;*/
} 
.rli-td-bcc-8 {
    background-color: #708090 !important;
} 
.rli-td-bcc-9 {
    background-color: #2F4F4F !important;
} 
i.fa.fa-recycle {
    color: #e61718;
}

/* Adding for multienum-checkbox field labels*/
.checkbox-label{
    width: 100% !important;
    padding-top: 5px;
}

/*div[data-type=fieldset-sas] :last-child span.detail {
    padding-left: 8px;
}*/