ul.custom-dashlet-tabs > li {
    float: none;
    margin: 0 0.25%;
    display: inline-block;
    width: auto;
}
.branch-upto-tab {    
    padding-left: 35px !important;
}
.rli-pill-bcc {
    background-color: #D3D3D3 !important;
} 
.rli-td-bcc {
    background-color: #9acef1 !important;
}
.rli-td-bcc-1 {
    /*background-color: #DCDCDC !important;*/
    background-color: #fafafa !important;
}
.rli-td-bcc-2 {
    /*background-color: #D3D3D3 !important;*/
    background-color: #f1f1f1 !important;
} 
.rli-td-bcc-3 {
    /*background-color: #A9A9A9 !important;*/
    background-color: #e9e9e9 !important;
} 
.rli-td-bcc-4 {
    /*background-color: #696969 !important;*/
    background-color: #e0e0e0 !important;
} 
.rli-td-bcc-5 {
    /*background-color: #176de5 !important;*/
    background-color: #d7d7d7 !important;
} 
.rli-td-bcc-6 {
    /*background-color: #0f7799 !important;*/
    background-color: #bdbdbd !important;
} 
.rli-td-bcc-7 {
    /*background-color: #0d806c !important;*/
    background-color: #939393 !important;

    /*background-color: #0d8046 !important;*/
    /*background-color: #33800d !important;*/
    /*background-color: #6a800d !important;*/
    /*background-color: #e5a117 !important;*/
    /*background-color: #cc3314 !important;*/
    /*background-color: #e61718 !important;*/
    /*background-color: #e5176d !important;*/
    /*background-color: #6d17e5 !important;*/
    /*background-color: #1f12b3 !important;*/
    /*background-color: #176de5 !important;*/
    /*background-color: #1378bf !important;*/
    /*background-color: #0f7799 !important;*/
    /*background-color: #0d806c !important;*/
    /*background-color: #ff6fcf !important;*/
    /*background-color: ##7cc2f1 !important;*/
} 
.rli-td-bcc-8 {
    background-color: #708090 !important;
    /*background-color: #0d806c !important;*/
} 
.rli-td-bcc-9 {
    background-color: #2F4F4F !important;
} 
i.fa.fa-recycle {
    color: #e61718;
}

/* Adding for multienum-checkbox field labels*/
.checkbox-label{
    width: 100% !important;
    padding-top: 5px;
}

/*div[data-type=fieldset-sas] :last-child span.detail {
    padding-left: 8px;
}*/

i.fa.fa-briefcase {
    -webkit-font-smoothing: antialiased;
    color: #222;
}

.record-panel-background {
    background-color: #F5F5F5 !important;
}

.ellipsis_inline.long-sentense {
    white-space: unset;
}

html.rtl .record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_city_c"] .detail div,html.rtl .record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_state_c"] .detail div,html.rtl .record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_postalcode_c"] .detail div {
    padding-right: 0;
    padding-left: 4px
}
.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_city_c"],.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_state_c"],.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_postalcode_c"] {
    flex: 0 0 auto
}

.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_city_c"] .detail,.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_state_c"] .detail,.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_postalcode_c"] .detail {
    max-width: inherit;
    overflow: hidden
}

.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_city_c"] .detail div,.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_state_c"] .detail div,.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_postalcode_c"] .detail div {
    padding-right: 4px
}

.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_city_c"] .address_city .ellipsis_inline {
    width: calc(100% + 1px)
}

/*SHIPPING ARRDESS*/
html.rtl .record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="shipping_address_lat"] .detail div,html.rtl .record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="shipping_address_lon"] .detail div {
    padding-right: 0;
    padding-left: 4px
}
.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="shipping_address_lat"],.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="shipping_address_lon"] {
    flex: 0 0 auto
}
.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="shipping_address_lat"] .detail,.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="shipping_address_lon"] .detail {
    max-width: inherit;
    overflow: hidden
}
.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="shipping_address_lat"] .detail div,.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="shipping_address_lon"] .detail div {
    padding-right: 4px
}
.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="shipping_address_lat"] .address_city .ellipsis_inline {
    width: calc(100% + 1px)
}

/*SERVICE SITE ADDRESS*/
html.rtl .record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="service_site_address_lat"] .detail div,html.rtl .record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="service_site_address_lon"] .detail div {
    padding-right: 0;
    padding-left: 4px
}
.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="service_site_address_lat"],.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="service_site_address_lon"] {
    flex: 0 0 auto
}
.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="service_site_address_lat"] .detail,.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="service_site_address_lon"] .detail {
    max-width: inherit;
    overflow: hidden
}
.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="service_site_address_lat"] .detail div,.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="service_site_address_lon"] .detail div {
    padding-right: 4px
}
.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="service_site_address_lat"] .address_city .ellipsis_inline {
    width: calc(100% + 1px)
}

.record-cell .normal > .fieldset.address:not(.edit) .fieldset-field[data-name$="address_street_c"] {
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -ms-word-break: normal
}

/*.lowHeight {
    height: 10px !important;
}*/

// Reduce the overall minimun height of a dashlet...
// It affects the empty and small size dashlets to look smart...
.dashlet:not(.collapsed):not(.empty) {
    min-height: 100px;
}

// Padding is reduced
// Done specially for Pending activities and history dashlet to reduce padding 
// so that it should show up more content.
.dashlet .listed li {
    list-style: none;
    position: relative;
    border-bottom: 1px solid #f6f6f6;
    margin: 0;
    padding: 5px;
}

// Removing the Users avatar and pulling the content on left hand side.
.dashlet .listed li .details.pullLeft {
    padding-left: 4px;
    line-height: 14px;
}
.dashlet .listed li p.pullLeft {
    padding-left: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    padding: 3px;
}

// Height of the dashlet (Pending/Planned Activities and History dashlet)
.dashlet-unordered-list .tab-content {
    height: 170px;
    overflow: auto;
}

// Height of tabs on the tabbed dashlet.
.dashlet-tabs .dashlet-tabs-row .dashlet-tab {
    display: table-cell;
    vertical-align: middle;
    // ++ --
    height: 30px;
    text-align: center;
    font-size: 11px;
    color: #555;
    background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
}

// Removing the spaces between the dashlets.
.sidebar-content .dashboard .well {
    padding: 0px 2px 2px;
    background: transparent;
    box-shadow: none;
}

/*
background-color: #ecef0f;
background: #ecef0f;
background: #198cc6;
background: #c7b883;
background: #beb285;
*/

div.tab-pane[id*=LBL_RECORDVIEW_PANEL0] {
    padding-top: 0px;
}

.color-black {
    color: #222;
}

.flex-list-view.right-actions .dataTable th:last-child, .flex-list-view.right-actions .dataTable td:last-child.audit-table-field {
    width: 1px;
    min-width: 1px;
}
.flex-list-view.left-actions .dataTable th:first-child, .flex-list-view.left-actions .dataTable td:first-child.audit-table-field {
    width: 1px;
    min-width: 1px;
}

/*For Preview Start*/
.preview-data .field-row {
    display: flex;
}

.preview-data .field-row .field-label {
    display: block;
    width: 50%;
    text-align: left;
    height: 17px;
    padding: 0;
    margin-top: 7px;
    font-size: 12px;
}

.preview-data .field-row .field-value {
    max-width: initial;
    margin: 0;
    font-size: 14px;
    min-height: 19px;
    margin-bottom: 0px; 
    margin-top: 7px;
}
/*For Preview End*/

.btn > .fared {
    color: #e61718;
}

.btn > .fayellow {
    color: #ffb600;
}

.btn > .fagreen {
    color: #3a9b06;
}

.enriched-help {
    font-size: 12px;
    position: relative;
    background: #fff;
    margin: 10px 14px 0 14px;
    border-width: 1px;
    border-color: #dcdee2;
    border-style: solid;
}