<div class="tags" style="padding-top: 5px;padding-left: 5px;">
    {{#each tests}}
        <span class="tag-wrapper" style="background: {{this.color}};">
            <span class="tag-name ellipsis_inline" rel="tooltip" data-placement="bottom" title="" data-original-title="{{this.text}}" style="font-size: 15px;line-height: 20px;">
                <a class="tag-name ellipsis-inline" data-action="tag-search" data-tag="{{this.text}}">
                    {{this.text}}
                </a>
            </span>
        </span>
    {{/each}}
</div>