<div class="dashboard quotes-create">
    <div class="cols row-fluid">
        <ul class="dashlets row-fluid">
            <li class="row-fluid">
                <div class="rows well well-invisible">
                    <ul class="dashlet-cell rows row-fluid">
                        <li class="dashlet-container span12">
                            <div class="thumbnail dashlet" data-type="dashlet">
                                <div data-dashlet="toolbar">
                                    <div class="dashlet-header">
                                        <div class="btn-toolbar pull-right"></div>
                                        <h4 data-toggle="dashlet" class="dashlet-title">
                                            {{str 'LBL_EPA_DASHLET_TITLE' 'Accounts'}}
                                        </h4>
                                    </div>
                                </div>
                                <div data-dashlet="dashlet" class="dashlet-content">
                                    <div style="max-height: 400px;">
                                        <iframe src="{{fileLink}}" frameborder="0" style="height: 390px;width: 100%;"></iframe>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>