{{#eq isEmpty false}}
    <span class="detail" style="padding-left: 0px;">
        <ul>
            {{#each value}}
                <li>
                    <a href="#Accounts/{{id}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
    </span>
{{/eq}}
